[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
"boto3" = "*"
sqlalchemy = "*"
pytz = "*"
requests = "*"
csv = "*"
sqlalchemy-redshift = "*"

[dev-packages]
"boto3" = "*"
pytest = "*"
pytest-runner = "*"

[requires]
python_version = "3.7"
