[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
dataclasses = "*"
sqlalchemy = "*"
sqlalchemy-redshift = "*"
python-aws-dataclasses = {git = "https://github.com/hypoport/python-aws-dataclasses.git", ref = "dev"}
pynamodb = "*"
PyJWT = "==1.7.1"


[dev-packages]
"boto3" = "*"
pytest = "*"
pytest-runner = "*"

[requires]
python_version = "3.6"

